*{
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
}

.search-container{
  position: relative;
  margin: 40px;
  width: 500px;
}

.search-container ul {
  border: 1px solid black;
  width: 500px;
  list-style: none;
  padding: 10px;
  border-radius: 3px;

}

.search-input{
  padding: 10px;
  width: 100%;
}